.food-list {
    margin: 1rem;
}

.food__delete {
    display: none;
    margin-left: 1rem;
    cursor: pointer;
}

.food.food--selected {
    background-color: lightgray;
}

.food:hover .food__delete {
    display: inline;
}