.nutrient-table {
    font-size: 0.8rem;
}

.nutrient-table__section {
    border-top: 1px solid black;
}

.nutrient-table__section-toggle {
    cursor: pointer;
    width: 26px;
}

.nutrient-table__column--toggle {
    width: 2rem;
}

.nutrient-table__column--name {
    width: 12rem;
}

.nutrient-table__column--amount {
    width: 14rem;
}

.nutrient-table__column--max {
    width: 4rem;
}

.nutrient-table__column--unit {
    width: 4rem;
}

.nutrient-table__column--no-padding {
    padding: 0;
}

.nutrient-table__column--received {
    text-align: right;
}

.nutrient-table__column--recommended {
    width: 70px;
}